.authentication__header {
  color: white;
  text-align: center;
}

.authentication h2 {
  text-align: left;
}

.authentication {
  display: flex;
  margin: 0 auto;
  padding: 0.2em;
  width: 80%;
  justify-content: space-around;
  height: auto;
  text-align: center;
  flex-wrap: wrap;
}

.authentication img {
  border-radius: 5px;
  margin-left: -3.2rem;
  max-width: 100%;
  height: auto;
}

.auth-text-wrapper {
  display: flex;
  width: 30%;
  margin-right: 3em;
  padding: 1em;
  flex-direction: column;
}

img {
  object-fit: cover;
}

.authentication form {
  margin-bottom: 1rem;
}

@media screen and (max-width: 1248px) {
  .authentication {
    width: 100%;
    margin: unset;
    gap: 40px;
    height: auto;
    flex-direction: column;
  }

  .auth-text-wrapper {
    width: 80%;
    padding: unset;
    margin: 0 auto;
    margin-top: -0.8rem;
    margin-bottom: 1.2rem;
  }
  .authentication img {
    margin-left: unset;
  }
}
